@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,400;12..96,700&display=swap');

:root {
    --bg: #cdcdcd;
    --card: #ffffff;
    --text: #151520;
    --summary: #151520CC;
    --caption: #151520AA;
    --chip-bg: #15152016;
    --accent: #0A66C2;
    --clip-bg: #0A66C211;
    --divider: #0A66C222;
    --isLight: 1;
}

[data-theme=dark] {
    --bg: #303030;
    --card: #101015;
    --text: #ffffff;
    --summary: #ffffffCC;
    --chip-bg: #ffffff22;
    --caption: #ffffff88;
    --accent: #0A66C2;
    --clip-bg: #0A66C211;
    --divider: #0A66C222;
    --isLight: 0;
}

@font-face {
    font-family: "Proxima";
    src: url("font/pn_400.ttf");
    font-weight: 400;
}


@font-face {
    font-family: "Proxima";
    src: url("font/pn_700.ttf");
    font-weight: 700;
}

* {
    font-family: Proxima, Montserrat, Georgia, serif;
}

html, body {
    overflow-x: hidden;
    margin: 0;
    background: var(--bg);
    color: var(--text);
    font-size: 14px;
}

.container {
    background: var(--card);
    max-width: 874px;
    width: 100%;
    margin: 0 auto;
}


.splash {
    position: fixed;
    background: var(--accent);
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 999;
    overflow: hidden;
    transition: all linear 500ms;
}


.splash img {
    max-width: 280px;
    max-height: 360px;
    object-fit: cover;
    object-position: center;
    width: 60vw;
    height: 70vw;
    scale: 1.4;
    border: 5px solid rgba(255, 255, 255, 0.5);
    clip-path: url("#avatarClip");
}

.splash.animate {
    animation: hideSplash 500ms;
}

@keyframes hideSplash {
    0% {
        transform-origin: 150% 40px;
        transform: scale(1);
        opacity: 1.0;
        background: none;
    }
    100% {
        transform: scale(0);
        opacity: 0.0;
        transform-origin: 20% 40px;
    }

}


h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.right-header {
    padding: 25px 0 10px;
}

p, a {
    font-size: 14px;
}

.right-header h2 {
    font-size: 20px;
}

.right-header h4 {
    font-size: 15px;
}

.p-10 {
    padding: 10px;
}

img.avatar {
    width: 90px;
    height: 100px;
    scale: 1.4;
    clip-path: url("#avatarClip");
    object-fit: cover;
}


.left-header svg {
    margin-right: 5px;
}

.left-header svg path {
    fill: var(--text);
}

.left-header i.fa {
    color: var(--text);
    margin-right: 5px;
}

.left-header a,
.left-header a:link {
    color: var(--text);
    text-decoration: none;
}

.left-header a:hover {
    color: var(--accent);
}

.footer {
    border-top: 1px solid var(--divider);
    max-width: 1020px;
    width: 100%;
    margin: 400px auto 0;
    padding: 15px 0;
    bottom: 0;
}

.screen40 .footer {
    border-color: var(--divider);
}

.screen40 {
    width: 40%;
    float: left;
}

.with-bg {
    background: var(--clip-bg);
    margin-top: -5px;
}

.clip-bg {
    padding-top: 30px;
    background: var(--clip-bg);
    clip-path: url("#sideClip");
    padding-bottom: 5px;
}

.screen50 {
    width: 50%;
    float: left;
}

.screen60 {
    width: 60%;
    float: left;
    margin: 0;
}

.screen50 > table {
    margin: 0 5px;
}

.flex .stretch {
    flex: 1;
}

.container-inner {
    margin: 0 30px 0 15px;
}

.screen40 .container-inner {
    margin: 0 20px 0 10px;
}


.block-section h2 {
    color: var(--accent);
    padding: 5px 0;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    gap: 12px;
    white-space: nowrap;
}


.block-section h2::after {
    content: "";
    display: block;
    width: 100%;
    position: relative;
    top: 10px;
    height: 1px;
    background: var(--divider);
}

.scale {
    display: flex;
    justify-content: end;
    align-items: center;
}

.scale > span {
    width: 10px;
    height: 10px;
    margin: 0 2px;
    border-radius: 50%;
    background: var(--chip-bg);
}

.scale > span.yes {
    background: var(--accent);
}

.scale-5 {
    flex: 5;
}

.scale-4 {
    flex: 4;
}

.scale-o-4 {
    flex: 1;
}

.block-section table {
    table-layout: fixed;
    width: 100%;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

table td {
    vertical-align: top;
}

table .title {
    font-size: 16px;
    font-weight: bold;
}

table .description, table .description > p {
    font-size: 14px;
}


table .emphasis {
    color: var(--accent);
    font-size: 13px;
}


.screen40 table .emphasis {
    color: var(--text);
    opacity: 0.6;
}

.screen40 table .title,
.screen40 table .icon,
.screen40 table .text-icon {
    color: var(--text);
}

.screen40 ul.tags > li {
    background: var(--chip-bg);
    border-color: transparent;
    color: var(--text);
}

.screen40 ul.tags > li.o,
.screen40 ul.tags.bordered > li {
    color: var(--text);
    border-color: var(--chip-bg);
}

.screen40 .fa-square-full {
    color: var(--card);
}


.screen60 .on-laptop {
    background: var(--clip-bg);
    border-bottom-left-radius: 30px;
}

.circle-bg {
    position: absolute;
    right: -50px;
    top: -100px;
    z-index: 0;
    height: 200px;
    width: 200px;
    background: var(--clip-bg);
    clip-path: circle(50%);
}

table .strong {
    color: var(--accent);
    font-weight: bold;
    font-size: 12px;
}

.light {
    color: var(--card);
}


table .grey {
    color: var(--caption);
    font-size: 12.5px;
}

.to-right {
    text-align: right;
    white-space: nowrap;
}

.pull-left {
    float: left;
}

.pull-left > svg {
    margin-right: 5px;
}

.pull-right {
    float: right;
}

.white {
    color: white;
}

.center {
    text-align: center;
}

.upper {
    text-transform: uppercase;
}

.mt-10 {
    margin-top: 10px;
}

.mt-25 {
    margin-top: 25px;
}

.muted {
    opacity: 0.6;
}

.thin {
    font-weight: normal;
    font-size: small;
}

.white70 {
    color: rgba(255, 255, 255, 0.7);
}

table .icon {
    font-size: 14px;
    width: 20px;
}

table .text-icon {
    font-size: 14px;
    font-weight: bold;
    width: 20px;
}

.flag-icon {
    width: 28px;
}

.flag-icon img {
    width: 18px;
}

table .progress {
    width: 80px;
    text-align: right;
}

.clear {
    clear: both;
}

ul.tags {
    margin: 0;
    padding: 0;
}

ul.tags > li {
    list-style-type: none;
    float: left;
    font-size: 12.5px;
    background: var(--chip-bg);
    margin: 2px;
    padding: 2px 7px;
    color: var(--text);
    border: 1px solid transparent;
    border-radius: 20px;
}

ul.tags > li.o {
    color: var(--text);
    margin: 2px;
    padding: 2px 7px;
    background: none;
}

ul.tags.bordered > li {
    border: 1px solid var(--clip-bg);
    color: var(--text);
    background: none;
}

.tooltip {
    cursor: pointer;
}

table.tooltip:hover {
    background: rgba(90, 90, 240, 0.1);
}

ul.social {
    margin: 0;
    padding: 0;
}

ul.social > li {
    list-style-type: none;
    float: left;
    margin: 5px;
}

.justify {
    text-align: justify;
}

ul.social > li a,
ul.social > li a:link {
    padding: 5px;
    font-size: larger;
    color: var(--text);
}

.screen40 ul.social > li a,
.screen40 ul.social > li a:link {
    color: var(--text);
}


ul.social > li a:hover {
    color: var(--accent);
}

ul.social > li a.Lazy-Developer:hover {
    color: var(--accent);
}

ul.social > li a.Github:hover {
    color: #323131;
}

ul.social > li a.Stack-Overflow:hover {
    color: #f19558;
}

ul.social > li a.LinkedIn:hover {
    color: #2A7BB6;
}

ul.social > li a.Quora:hover {
    color: #DC5043;
}

.fa-square-full {
    font-size: 8px;
    margin-left: 3px;
}

.fa-square-full.o {
    opacity: 0.1;
}

.footer h3 {
    color: var(--text);
}

.screen40 .footer h3 {
    color: var(--accent);
}

a:link, a {
    color: var(--accent);
}

.on-mobile {
    display: none;
}

.on-laptop {
    display: block;
}

@media screen and (max-width: 874px) {
    .screen40, .screen50, .screen60 {
        width: 100%;
    }

    .with-bg {
        padding-bottom: 10px;
    }

    .container-inner {
        margin: 0 20px 0 10px;
    }

    .on-mobile {
        display: block;
    }

    .on-laptop {
        display: none;
    }
}


@media screen and (max-width: 700px) {
    body {
        font-size: 80%;
    }
}

@keyframes animateImage {
    from {
        transform: scale(0.0);
        border-width: 5px;
    }
    to {
        transform: scale(1.0);
        border-width: 15px;
    }
}

@keyframes animateRaj {
    from {
        transform: translateY(500px);
        opacity: 0.0;
    }
    to {
        transform: translateY(0);
        opacity: 1.0;
    }
}

.ml-10 {
    margin-left: 10px;
}

.flutter-icon {
    width: 13px;
    height: 13px;
    display: inline-block;
    background: url("https://cdn4.iconfinder.com/data/icons/logos-brands-5/24/flutter-512.png") 0 0 no-repeat;
    background-size: auto 13px;
    filter: brightness(0) invert(var(--card));
}

.icon-button {
    margin-left: 5px;
}

.pr-5 {
    padding-right: 5px;
}

.pr-10 {
    padding-right: 10px;
}

.break + h2 {
    display: none;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex.bottom {
    align-items: end;
    justify-content: center;
}

.pv-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.username h1 {
    font-size: 35px;
}

.username h3 {
    font-size: 20px;
}

.username p {
    color: var(--summary);
}

.screen40 .username h2,
.screen40 .username h4 {
    color: var(--text);
}

.screen40 .username p {
    color: var(--text);
}

.float-button,
.float-button:link {
    position: fixed;
    left: 10px;
    bottom: 10px;
    padding: 8px 16px;
    color: white;
    text-decoration: none;
    background: var(--accent);
    box-shadow: 2px 2px 3px #00000022;
}


hr {
    height: 1px;
    border: none;
    background: var(--clip-bg);
    opacity: 0.6;
}

.m-25 {
    margin: 15px;
}

hr.light {
    height: 1px;
    border: none;
    margin: 15px 10px 10px 10px;
}

.fab-icons {
    position: fixed;
    bottom: 10px;
    left: 10px;
    display: flex;
    gap: 5px;
}

.fab-icons > button {
    width: 36px;
    height: 36px;
    background: var(--accent);
    border: none;
    border-radius: 50%;
    font-size: large;
    color: var(--card);
    cursor: pointer;
}

.link-w-icon {
    display: flex;
    padding: 5px 0;
    gap: 5px;
    align-items: center;
}

.qr {
    background: var(--card);
    padding: 5px;
}

.updated-date {
    font-size: x-small;
    font-weight: normal;
    color: var(--text);
    opacity: 0.6;
    font-style: italic;
}

.screen60 .updated-date {
    color: var(--text);
}

.break.extra-margin {
    padding-top: 0;
}

@media print {
    html, body {
        background: var(--card);
        position: relative;
        -webkit-print-color-adjust: exact;
    }

    .clip-bg {
        height: 84.5vh;
        padding-bottom: 0;
    }

    .with-bg {
        height: 100vh;
    }

    .float-button {
        display: none;
    }

    .fab-icons {
        display: none;
    }

    .screen40 {
        height: 200vh !important;
    }

    @page {
        size: A4;
        margin: 0;
    }

    .break ~ h2 {
        display: flex;
    }

    .break {
        page-break-before: always;
    }

    .break.extra-margin {
        padding-top: 20px;
    }

    .last {
        height: calc(85mm);
    }

    .footer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 40%;
    }

    .container {
        box-shadow: none;
    }

    .updated-date {
        display: none;
    }
}
